@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
// Primary Colors
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #FF00BA;

// Secondary Colors
$aqua: #00FFF5;
$yellow: #FFF501;
$palegreen: #00FF6C;
$mid-grey: #9D9D9D;
$dark-grey: #707070;

// Fonts
$primary-font: 'Inter', sans-serif;