@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// Primary Colors
$primary-color: #171329;
$secondary-color: #fff;
$accent-color: #FF00BA;

// Secondary Colors
$aqua: #00FFF5;
$yellow: #FFF501;
$palegreen: #00FF6C;
$mid-grey: #9D9D9D;
$dark-grey: #707070;

// Fonts
$primary-font: 'Sora', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$font-sm: 0.875rem;
$font-rg: 1.125rem;
$font-md-22: 1.375rem;
$font-md-24: 1.5rem;
$font-lg: 1.875rem;
$font-xl: 4.375rem;
$font-xxl: 6.25rem; 

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;