@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;
@use './abstracts/typography' as *;
@use './layout/navbar' as *;
@use './layout/hero' as *;
@use './layout/how-they-work' as *;
@use './layout/timeline' as *;
@use './layout/current-issues' as *;
@use './layout/innovations' as *;
@use './layout/contact' as *;
@use './layout/footer' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

body {
    background: $primary-color;
    color: $secondary-color;
    min-height: 500vh;
    width: 100%;
}

body, html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    will-change: transform;
}

sup {
    color: $accent-color;
}

section {
    @include lg-container(1280px);
    margin-block: 3rem;
    position: relative;

    @include for-sm-desktops {
        @include lg-container(1100px);
    }

    @include for-tablets {
        @include lg-container(650px);
    }

    @include for-lg-mobiles {
        width: 90%;
        margin-inline: auto;
    }

    &::after {
        position: absolute;
        content: '';
        background-image: url('../assets/img/Section\ divider.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5px;
    }
}

p {
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// main {
//     background-image: url('../img/')
// }

.section-header {
    @include custom-flex(row, space-between, flex-start);
    column-gap: 2rem;
    h2 {
        // font-size: 3rem;
        width: 50%;

        @include for-lg-mobiles { width: 100%; }
    }

    p { width: 50%; @include for-lg-mobiles { width: 100%; font-size: 1rem; } }
}

.timeline-svg {
    display: none;
    position: absolute;
    z-index: -1;
    left: 42%;
    transform: translateX(-50%);
    @include for-lg-mobiles { display: none; }
    
}

.timeline-svg.fixed {
    position: fixed !important;
}


// @keyframes shakeAtom {
//     10%, 90% { transform: translate3d(-1px, 0, 0); }
//     20%, 80% { transform: translate3d(2px, 0, 0); }
//     30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
//     40%, 60% { transform: translate3d(4px, 0, 0); } 
// }